body{
    background-color: #ecf0f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
}

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.form_container {
  padding: 10px;
  width: 60vmin;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}

.save_btn {
  display: block;
  width: 60vmin;
  margin-top: 30px;
  font-size: medium;
  height: 30px;
  color: white;
  background-color: tomato;
  border: none;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.save_btn:hover{
    background-color: rgb(197, 75, 54);
}

#first_name{
    width: 25vmin;
    padding: 5px;
}

#last_name{
  width:25vmin;
  padding:5px;
}

#phone_no{
  width:55.5vmin;
  padding: 5px;
}

.name__container{
  display: flex;
  justify-content: space-evenly;
}

/* ! Search Container */
.search_container{
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.search_bar{
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
  border: none;
}


/* ! Table Css */


.delete_btn{
  color: tomato;
  font-weight: bolder;
  border-radius: 5px;
  border: 0.5px solid black;
}

#employees_table {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #employees_table td, #employees_table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #employees_table tr:nth-child(even){background-color: #f2f2f2;}
  
  #employees_table tr:hover {background-color: #ddd;}
  
  #employees_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: burlywood;
    color: white;
  }
